body{
    background: #f0f0f0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_container{
    width: 800px;
}
 .video_container:hover #button{
    opacity: 1;
    
}
#video{
    width: 100%;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.57);
}
#button{
    opacity: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(220, 53, 69, 0.9);
    border: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: .5s ease;
    -webkit-transition: .5s ease;
}
#button img{
    width: 86px;
    height: 84px;
    position: relative;
    bottom: 2px;
    left: -11px;
}
#button:focus{
    outline: none;
}
#time{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(225, 225, 225, 0.9);
    text-shadow: 2px 2px 4px #000000;
}


.orange-bar{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}
.orange-juice{
    height: 10px;
    /* background-color: orangered; */
    background-color:rgba(220, 53, 69, 0.9); ;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
background: rgba(26, 26, 27, 0.705);
transform: translateY(100%) translateY(-5px);
transition: all 0.25s;
} 